
@import './mixIns';

.ItemCard {
    margin: 10px;
    border: 2px outset lightgrey;
    box-shadow: 5px, 5px, grey;
    width: 13vw;
    height: 13vw;
    overflow: hidden;
    @include flexCenter(column, space-between);
    h4{
        font-size: rem;
    }
    img {
        width: 10vw;
        margin: auto;
    }
}

@media (max-width: 1050px) {
    .ItemCard {
        width: 20vw;
        height: 20vw;
    }

}

@media (max-width: 450px) {
    .ItemCard {
        width: 40vw;
        height: 40vw;
        h4 {
            font-size: .7rem;
        }
        img {
            width: 25vw;
        }
    }

}