@import './variables';


.Auth {
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        input{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        button {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    
}

.inputs {
    background-color: $header;
    padding: 15px;
    border-radius: 15px;
}

.byooton {
    width: 98%;
}

@media (max-width: 1050px) {
    .Auth {
        margin: auto;
        margin-top: 25px;
        align-items: center;
        form {
            margin-top: 5px;
            align-items: center;
            input {
                margin: 10px;
            }
        }
    }

}

@media (max-width: 450px) {
    .Auth {
        width: 80vw;
        
    }

}