
@import './mixIns';
@import './variables';

.menu {
    width: 300px;
    display: flex;
    @include flexCenter(column, center);
    align-items: center;
    padding: 10px;
    position: absolute;
    left: -320px; 
    background-color: $menu;
}
    
.active {
    transform: translate(320px, 0);
    margin-top: 100px;
}

.section {
    margin-top: 15px;
    @include flexCenter(column, center);
    button {
        border: 0;
        padding: 0;
        font-size: 100%;
        font-family: inherit;
        background-color: inherit;
    }
}

@media (max-width: 450px) {
   .menu {
       width: 120px;
       left: -140px;
       font-size: .5rem;
   }
   .active {
    transform: translate(140px, 0);
   }

}

