

@import './Menu';
@import './Item';
@import './Header';
@import './StoreFront';
@import './Details';
@import './Account';
@import './Cart';
@import './Login';
@import './Register';

.App {
    display: flex;
    flex-direction: column;
}

html {
    font-size: 20px;
}

@media (max-width: 1050px) {
    html {
        font-size: 25px;
    }

}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

