

@import './Menu';
@import './Item';
@import './Header';
@import './StoreFront';
@import './Details';

.App {
    display: flex;
    flex-direction: column;
}

.menu {
    position: absolute;
    left: -300px; 
}

.active {
    transform: translate(300px, 0);
}